[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/dshchepetkov/Homework23
ExecStart=/home/dshchepetkov/Homework23/env/bin/python app.py

[Install]
WantedBy=multi-user.target
